In [1]:
%config Complete.use_jedi = False

In [2]:
import pandas as pd
import numpy as np

In [3]:
%%time
starbucks_to_map = pd.read_csv("./starbucks_data/starbucks_df_per_coupon.csv")
starbucks_id_data = pd.read_csv("./starbucks_data/starbucks_df_per_id.csv")
starbucks_imputed = pd.read_csv("./starbucks_data/starbucks_imputed.csv")

Wall time: 596 ms

In [4]:
starbucks_id_data.sort_values(["value", "gender", "age", "became_member_on"]).tail(2500).value.sum() == \
starbucks_imputed.sort_values(["value", "gender", "age", "became_member_on"]).tail(2500).value.sum()

True

In [5]:
starbucks_id_data.sort_values(["value", "gender", "age", "became_member_on"], inplace=True)
starbucks_imputed.sort_values(["value", "gender", "age", "became_member_on"], inplace=True)

In [6]:
starbucks_imputed["id"] = starbucks_id_data["id"]

In [7]:
starbucks_imputed = starbucks_imputed[["id", "gender", "income", "age"]]

In [8]:
starbucks_imputed

                                     id gender    income   age
2580   286424d90dee4e23a07e1f374c69a89e      F   61000.0  23.0
8318   7d28b5aabc264034809df7217d8b371f      F   38000.0  29.0
12717  be2ac5f206804533a38fb637bf1cd733      F   47000.0  31.0
2138   21a2ab1c45bb487d8cd7d4265337e287      F   42000.0  32.0
2499   270e7fd65f7e45c58b79d0d8ad2c72ab      F   53000.0  33.0
...                                 ...    ...       ...   ...
6601   6374af35bb1f4f8dacae61d5072e3113      M   86000.0  50.0
5620   5473ed61767547b5b6a337872d69dfae      M  103000.0  53.0
10064  96ff9b56ced445e5b0b07b1b82554113      F   71000.0  36.0
13814  cf7e4e33c98e4a2489846d97d46cb84e      M   64000.0  32.0
3469   34fd8ac2a1414a1eace74ed3245517fe      M   97000.0  77.0

[16994 rows x 4 columns]

In [9]:
starbucks_to_map.drop(columns=["gender", "income", "age"], inplace=True)

In [10]:
starbucks_to_map.set_index("id", inplace=True)

In [11]:
starbucks_imputed.set_index("id", inplace=True)

In [12]:
starbucks_final = starbucks_to_map.join(starbucks_imputed, on="id", how="left")

In [13]:
starbucks_final.dtypes

event                               object
coupon_code                         object
time                                 int64
value                              float64
became_member_on                     int64
reward                             float64
difficulty_offered                 float64
duration_offered                   float64
offer_type                          object
email                              float64
social                             float64
web                                float64
mobile                             float64
offer_received                       int64
offer_viewed                         int64
offer_completed                      int64
transaction                          int64
offer_views_missed                   int64
informational                        int64
bogo                                 int64
discount                             int64
last_time_offer_received             int64
last_time_offer_completed            int64
first_time_offer_received            int64
first_time_offer_completed           int64
total_reward_completed             float64
total_duration_completed           float64
total_difficulty_completed         float64
amount_of_paths_completed_part1      int64
amount_of_paths_completed_part2      int64
amount_of_completed_user_paths       int64
mean_time_between_actions          float64
gender                              object
income                             float64
age                                float64
dtype: object

In [14]:
starbucks_final.to_csv("./starbucks_data/starbucks_df_per_coupon_imputed.csv")